$primary-color: orange;
$app-background: #f1f1f1;
$card-infos-background: #f8f8f8;
$divider: #EBEBEB;
$box-shadow: #333333;
$blue: #69a3ff;
$orange: #ff9632; // ff9632
$red: #ed1946;
$dark: #737c84;
$grey: #b4b4b4;
$white: #ffffff;

